* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  padding: 0px;
}

#root {
  height: 100vh;
}
body {
  background-color: rgba(24, 26, 27, 0.0) !important;
  height: 100vh;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5,
.navbar-brand {
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", Arial, sans-serif; 
}

.navbar {
  height: 5.5rem;
  background-color: rgba(24, 26, 27, 0.8) !important;
}

.navbar-logo-solo {
  background-color: rgba(24, 26, 27, 0.0) !important;
  position: fixed;
}

.nav-link {
  width: 10rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9) !important;
  text-align: center;
}

.nav-link:hover {
  color: rgb(189, 151, 98) !important;
}

.navbar-brand small {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  text-align: center;
  letter-spacing: 5px; 
  color: white;
}

.navbar-brand{
  text-align: center;
  font-size: 2rem !important;
  width: 6rem;
}

.login-box-logo, .register-box-logo {
  font-size: 3rem !important;
}

.dropdown-menu, .dropdown-item {
  background-color: rgb(24, 26, 27) !important;
  color: rgb(125, 125, 125) !important;
}

.dropdown-item:hover {
  color: white !important;
}

.home-container {
  height: 80vh;
}

.login-box, .register-box {
  min-height: 75%;
  background-color: rgba(24, 26, 27, 0.8) !important;
}

.universal-container {
  background-color: rgba(24, 26, 27, 1) !important;
  height: 93.28vh;
}

.illustration-box {
  min-height: 100vh !important;
  background-color: rgba(24, 26, 27, 0.95) !important;
}

.login-container, .register-container {
  height: 100vh;
}

.absolute-logo {
  position:absolute;
  width: 100vw;
}

.disclaimer-text {
  text-align: center;
}

.btn-login {
  background-color: rgb(189, 151, 98) !important;
  vertical-align: middle;
}

.btn-login:hover {
  color: rgb(255, 255, 255) !important;
}

.home-shop-button {
  background-color: rgb(189, 151, 98) !important;
}

.welcome-box {
  background-color: rgba(24, 26, 27, 0.8) !important;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.avatar-modal .modal-content  {
  background-color: rgba(24, 26, 27, 1);
}

.illustration-modal {
  background-color: rgba(24, 26, 27, 1) !important;
}

.card-bg-illustration {
  background-color: rgba(24, 26, 27, 1) !important;
}

.navbar-collapse-background.show {
  background-color: rgba(24, 26, 27, 1) !important;
}

.navbar-collapse-background {
  z-index: 999 !important;
}

.card-product {
  background-color: rgba(24, 26, 27, 1) !important;
}

.card-image-style {
  object-fit: cover;
  width: 100%;
  min-height: 80%;
  max-height: 80%;
}

.card-image-style-view {
  max-height: 100%;
}

.product-preview-image {
  max-height: 100%;
  max-width: 100%;
  width: auto !important;
}

.checkout-preview-image {
  object-fit: cover;

  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.checkout-button {
  width: 100%;

}

.view-product-image {
  object-fit: cover;
}

.pagination > li > a
{
    background-color: rgb(53, 53, 53);
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #be913d;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #be913d !Important;
    border: solid 1px #be913d !Important;
}

.pagination > .active > a:hover
{
    background-color: #be913d !Important;
    border: solid 1px #be913d;
}

.pagination > .disabled > a
{
  background-color: rgb(107, 107, 107) !important;
  color: #ffffff !important;
}

.avatar-illustration-cards:hover {
  cursor: pointer;
}

.view-profile-avatar {
  z-index: 10;
}

.avatar-box {
  z-index: 99;
}

.half-avatar {
  background-color: rgba(24, 26, 27, 1) !important;
}

.view-profile-container {
  margin-top: 15rem;

  width: 100vw !important;
}

.view-profile-illustrations-container {
  background-color: rgba(24, 26, 27, 1) !important;

}

.illustration-thumbnail {
  -webkit-filter: brightness(100%);
}

.illustration-thumbnail:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.like-button {
  position: absolute;
  width: 2.5rem !important;
  height: 2.5rem !important;
  top: 0;
  right: 0;
}

.like-view-page-button {
  width: 3rem !important;
  height: 3rem !important;
  top: 0;
  right: 0;
}

.illustration-view-hover {
  -webkit-filter: brightness(100%);
}

.illustration-view-hover:hover {
  cursor: pointer;
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box {
  background: rgba(24, 26, 27, 1) !important;
  border-radius: 0px !important;
  color:white;
  padding: 0px;
  height: 190px;
  width: 250px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0) !important;
  text-align: center;
  transition: 0.3s;
}

.box:hover {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border-radius: 5px;
  color:white;
  height: 190px !important;
  width: 250px !important;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.avatar-bottom-box {
  background: rgba(24, 26, 27, 1) !important;
}

.img-box {
  height: 230px !important;
  width: 230px !important;
  top:-80px;
  object-fit: cover;
  border-radius: 200px !important;
  border: solid white 5px !important;
}

.prof-container {
  margin: 0 !important;
  width: fit-content;
  padding-top: 65px !important;
  z-index: 99
}

.des {
  margin-top: -24px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2) !important;
}

.profile-illustration-box {
  min-height: 50vh !important;
  background: rgba(24, 26, 27, 1) !important;
}

.modal {
  z-index: 999999999;
}

.admin-box {
  background: rgba(24, 26, 27, 1);
  min-height: 100vh;
}

.sr-only {
  display: none;
}

.filter-label {
  width: 100%;
}

.react-bootstrap-table-pagination-total {
  color: white;
}

.home-outside-container {
  min-height: 100vh;
  min-width: 100%;
}

.carousel-image-entity {
  width: auto !important;
  max-height: 90vh !important;
  min-height: 90vh !important;
}

.featured-container {
  background: rgba(24, 26, 27, 0.95) !important;
}

.loader-col {
  margin-top:20% !important;
}

.card-image-style-user {
  border: 3px white solid;
  border-radius: 100% !important;
}

.user-card {
  background: rgba(24, 26, 27, 0.0) !important;
}
.user-card-background {
  background: rgb(100, 91, 49) !important;
}